:root {
  --error-color: hsl(4, 100%, 67%);

  --btn-bg: hsl(234, 29%, 20%);
  --main-bg: hsl(235, 18%, 26%);
  --email-placeholder: hsl(0, 0%, 58%);
  --card-bg: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "outfit", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg);
}

.main-container {
  background-color: var(--card-bg);
}

.illustration-image {
  width: 100%;
}

.signup-container {
  padding: 3rem 2rem;
}

.signup-header {
  color: var(--btn-bg);
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.signup-description {
  color: var(--btn-bg);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.error {
  color: var(--error-color);
  font-size: 1.6rem;
}

.feature-item {
  list-style: none;
  color: var(--btn-bg);
  font-size: 1.6rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-control {
  margin-top: 3rem;
}

.email-text {
  color: var(--btn-bg);
  font-size: 1.4rem;
  font-weight: 700;
}

.labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input-field {
  width: 100%;
  border: 2px solid var(--email-placeholder);
  color: var(--email-placeholder);
  outline: none;
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.submit-btn {
  width: 100%;
  padding: 1.5rem 2rem;
  border: none;
  color: var(--card-bg);
  font-weight: 700;
  font-size: 1.6rem;
  background-color: var(--btn-bg);
  border-radius: 0.8rem;
}
.error-input {
  border: 2px solid var(--error-color);
  color: var(--error-color);
  background-color: hsl(4, 57%, 27%);
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 20rem;
  }

  .main-container {
    display: flex;
    height: fit-content;
    padding: 2rem;
    border-radius: 2rem;
    align-items: center;
  }

  .illustration-image {
    order: 2;
    flex: 1;
  }

  .main-container {
    flex: 1;
  }

  .signup-container {
    padding: 0rem 4rem;
  }
}
